<form (ngSubmit)="PayrolldetailSave()" [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
        <h2 class="headline m-0 text-xl text-accent" fxFlex="auto">
            <strong>Gestion de PayrollDetail</strong>
        </h2>
        <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
            <mat-icon [icIcon]="icClose"></mat-icon>
        </button>
    </div>
    <mat-dialog-content>

        <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>payrollId</mat-label>
                <input matInput formControlName="payrollId">
                <mat-error *ngIf="form.get('payrollId').hasError('required')">
                    payrollId Requerido
                </mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>conceptId</mat-label>
                <input matInput formControlName="conceptId">
                <mat-error *ngIf="form.get('conceptId').hasError('required')">
                    conceptId Requerido
                </mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>conceptType</mat-label>
                <input matInput formControlName="conceptType">
                <mat-error *ngIf="form.get('conceptType').hasError('required')">
                    conceptType Requerido
                </mat-error>
            </mat-form-field>
        </div>


        <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>amount</mat-label>
                <input matInput formControlName="amount">
                <mat-error *ngIf="form.get('amount').hasError('required')">
                    amount Requerido
                </mat-error>
            </mat-form-field>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button"> CANCELAR </button>
        <button color="purple" class="bg-accent text-accent-contrast" mat-button type="submit" [disabled]="!form.valid">
            GUARDAR
        </button>
    </mat-dialog-actions>
</form>